/out/production/Comp6231_Assignment3_WebService/Logs/Client/MTLM1111.txt
/out/production/Comp6231_Assignment3_WebService/Logs/Server/Montreal.txt
/out/production/Comp6231_Assignment3_WebService/Logs/Server/Quebec.txt
/out/production/Comp6231_Assignment3_WebService/Logs/Server/Sherbrooke.txt
/out/production/Comp6231_Assignment3_WebService/Asg3.6231w20.pdf
/out/production/Comp6231_Assignment3_WebService/DataModel/ClientModel.class
/out/production/Comp6231_Assignment3_WebService/DataModel/EventModel.class
/out/production/Comp6231_Assignment3_WebService/Logger/Logger.class
/out/production/Comp6231_Assignment3_WebService/server/Server.class
/out/production/Comp6231_Assignment3_WebService/server/ServerInstance.class
/out/production/Comp6231_Assignment3_WebService/com/web/client/Client.class
/out/production/Comp6231_Assignment3_WebService/com/web/service/implementaion/EventManagement$1.class
/out/production/Comp6231_Assignment3_WebService/com/web/service/implementaion/EventManagement.class
/out/production/Comp6231_Assignment3_WebService/com/web/service/WebInterface.class
